:root {
  --principal-font: 'Baskerville';
  --secondary-font: 'Roboto';

  --principal-font-size: 28px;
  --secondary-font-size: 14px;

  --heart-color: #dd0031;
  --border-color: #979797;
  --heart-conatiner-color: #606060;
  --azure: #1797ff;
  --pagination-color: #1890ff;
  --text-color: #6b6b6b;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
